GOOGLE_GENAI_USE_VERTEXAI=FALSE
LITELLM_API_KEY=YOUR_API_KEY
LITELLM_API_BASE=YOUR_API_BASE

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_DEPLOYMENT_NAME=

MILVUS_HOST=
MILVUS_PORT=
MILVUS_USER=
MILVUS_PASSWORD=
MILVUS_DB_NAME=