decouple-pipeline-env/
**.pyc
.env
__pycache__/
venv/
.vscode/
**.pdf
.DS_Store
Lecture.mp4
Tutorial_2.mp4
Tutorial.mp4
docker-compose-deployment.yml
Lecture1.mp4
Lecture1.wav
Tutorial.wavinput_videos/*.mp4
input_videos/*.mp4

Ciena_Datasets/
Ciena_Video/
Ciena_Eval_Datasets/
Ciena_Eval_Results/
ADS_input_videos/

/outputs/*
!/outputs/Chunks/
!/outputs/Chunks/**