decouple-pipeline-env/
**.pyc
.env
__pycache__/
venv/
.vscode/
**.pdf
.DS_Store
.deepeval/
video_env

outputs/**

gcm-diagnose.log
autoVideo.bat
run_gpt5_batch.bat

/outputs/extracted_audios/*.wav
F7.wav
Lecture.mp4
Tutorial_2.mp4
Tutorial.mp4
Lecture1.mp4
Lecture1.wav
Lecture3.wav
Tutorial.wav
input_videos/

Ciena_Datasets/
Ciena_Video/
Ciena_Eval_Datasets/
Ciena_Eval_Results/
ADS_input_videos/
/input_videos/

/Lecture_Video/
.deepeval/*
/Lecture_Datasets/
/Lecture_Eval_Datasets/
/Lecture_Eval_Results/
/ADS_input_videos/
/ADS_Simulator/
/ActionVideoQA_Pipeline/
/Ciena_Eval_Datasets_gpt5/
/Ciena_Eval_Results_gpt5/
/Decoupled_Modules/
/outputs/


!/Lecture_Datasets/
!/Lecture_Eval_Results/

actionvideo_main.py
# local scripts / utils (do not commit)
/eval_main.py
/ads_main.py
/actionvideo_main.py
/eval_plot_nonef1.py
/eval_plot.py
/qa_generate_gpt4o.py
/qa_generate_gpt5.py
/show_database.py
/verify_openai_env.py
/evaluation_pipeline/
