google-adk>=0.1.0
litellm>=1.65.7
uvicorn>=0.34.0
openai-agents>=0.0.13
docling>=2.31.0
pymilvus>=2.5.8
PyYAML>=6.0.1

openai>=1.13.3
openai-whisper
ffmpeg-python
opencv-python
Pillow
torch>=2.1.0
torchaudio>=2.1.0
sentence-transformers
deepeval>=1.0.9
faiss-cpu
chromadb
python-dotenv
tqdm
orjson
requests
pandas
uvicorn
fastapi
streamlit